<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>778431902324-9nv04acmqnkp2jgipmlcrpupu9sdvoph.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.778431902324-9nv04acmqnkp2jgipmlcrpupu9sdvoph</string>
	<key>API_KEY</key>
	<string>AIzaSyA3ssfQy_A95s4uROMTqpK54UDwDO_Yw50</string>
	<key>GCM_SENDER_ID</key>
	<string>778431902324</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lt.AdminCT</string>
	<key>PROJECT_ID</key>
	<string>charity-3bade</string>
	<key>STORAGE_BUCKET</key>
	<string>charity-3bade.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:778431902324:ios:1e53c52e116329527a5721</string>
	<key>DATABASE_URL</key>
	<string>https://charity-3bade.firebaseio.com</string>
</dict>
</plist>